{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": true,
			"decorators": false,
			"dynamicImport": true
		},
		"baseUrl": ".",
		"paths": {
			"@/*": ["./*"]
		},
		"target": "es2022"
	},
	"module": {
		"type": "es6"
	}
}
